// Footer

footer {
    display: none;

    @media (min-width: $lrgTablet) {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    z-index: 999;
    width: 100%;       
    }
 
}

.social-icons {

    @media (min-width: $lrgTablet) {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;     

    .linkedin,
    .github,
    .email,
    .instagram {
        padding: 15px;
        display: flex;
        align-items: center;
        margin: 0px 10px 0px 10px;

        &:hover,
        &:focus,
        &:active {

            text-decoration: underline;
            text-decoration-color: $main-color;
        }
    }    
    }
   

}