// Footer
@use "./variables"as *;
@use "./mixins"as *;

footer {
    position: sticky;
    margin-top: 40rem;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .linkedin,
    .github,
    .email {
        padding: 15px;
        display: flex;
        align-items: center;
        margin: 0px 10px 0px 20px;

        &:hover,
        &:focus,
        &:active {

            text-decoration: underline;
            text-decoration-color: white;
        }
    }

}