// Footer
@use "./variables"as *;
@use "./mixins"as *;

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 50px;


    p {
        text-align: center;
        margin: 0;
        font-size: 12px;
    }

    li {
        text-align: center;
        list-style-type: none;
    }

}



.icon-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.twitter,
.instagram,
.facebook {
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 20px;

    &:hover,
    &:focus,
    &:active {

        text-decoration: underline;
    }
}


.footer-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.foot-link {
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    padding: 0px 20px 50px 28px;


    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}