//Header


@use "./mixins"as *;
@use "./variables"as *;


.head {
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    // position: fixed;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
}

img {
    width: 100%;
}



.logo .header-nav {
    display: flex;

}

.nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 40px;
}

a.nav-link {
    color: white;
    text-decoration: none;
    margin-bottom: 3rem;
    line-height: 10px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;



    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        text-decoration-color: white;
    }
}

li {
    text-align: center;
    list-style-type: none;
}