//Header


@use "./mixins"as *;
@use "./variables"as *;


.head {
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    // position: fixed;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
}

img {
    width: 100%;
}