//Main

//home

.home-container {
    text-align: left;
}

.btn-container {
    border: 3px solid white;
    width: 50%;
    background-color: cadetblue;
    box-shadow: 8px 8px 8px 8px #888888;

    &:hover {
        background-color: rgb(185, 210, 211);
    }
}

.btn {
    display: block;
    margin: 0 auto;
}




// About

.tool-container {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
    }
}

.dev-list,
.design-list {
    list-style: none;
    color: white;
}




//Work




//Contact