//Main

//home

.home-container {
    text-align: left;
}




// About

.tool-container {
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
    }
}

.dev-list,
.design-list {
    list-style: none;
    color: white;
}




//Work




//Contact