//Main Pages

//HOME PAGE // ------------//

.main-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home-container {
    position: fixed;
    bottom: 10.5rem;
    color: $main-color;
    width: 100%;
    padding: 20px;
    text-align: center;

    @media (min-width: $lrgTablet) {
        bottom: 12rem;
    }


    @media (min-width:$desktop) {
        bottom: 17rem;
    }

    @media (min-width:$lrgDesktop){
        bottom: 23rem;
       
    }


}

.name {
    font-family: 'Pulchella', serif;
    color: $main-color;
    text-transform: uppercase;
    font-size: $extra-big;
}

.tag-line {
    font-family: 'Bosch', sans-serif;
    color:$main-color;
    text-transform: uppercase;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.cta-work {
    text-align: center;
    display: block;
    margin: 0 auto;
}




// ABOUT PAGE // ------------//

.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.about-container {
    position: fixed;
    bottom: 7rem;
    color: $main-color;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;

    p {
        padding: 10px;
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }


    @media (min-width: $laptop) {
        bottom: 10rem;
        p {
            margin: 10px auto;
            max-width: 450px;
            font-size: $mid-size;
            max-width: 400px;
        }
    }

    @media (min-width:$desktop) {
        bottom: 12rem;
        
    }

    @media (min-width:$lrgDesktop){
        bottom: 23rem;
        p {
            padding: 10px;
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }
    }

}


img {
    z-index: 10;
    max-width: 300px;
    display: block;
    margin: 0 auto;



    @media (min-width:$lrgTablet) {
        max-width: 500px;
    }
}




//WORK PAGE // ------------//



.project-title {
    text-align: center;
    font-size: $lrg-size;
}

.slide-container section {
    margin-top: 6.5rem;
}



.image-container {
    position: relative;
  
    img{
        border: 3px solid white;
        border-radius: 8px;
    }

    @media (min-width: $phone) {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }

    @media (min-width: $lrgPhone) {
        max-width: 80%;
    }

    @media (min-width: $tablet) {
        max-width: 50%;
    }

    @media (min-width: $lrgTablet) {
        max-width: 30%;
        display: block;
        margin: 0 auto;

    }

    @media (min-width: $laptop) {
        max-width: 50%;
            &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        border: 2px solid $main-color;
        transition: all .25s ease-out;
     
    }

    &::before {
        background-color: $main-color;
        top: -15px;
        left: -15px;
    }

    &::after {
        bottom: -15px;
        right: -15px;
    }

    &:hover {
        &::before {
            top: 15px;
            left: 15px;
        }

        &::after {
            bottom: 15px;
            right: 15px;
        }
    }
    }

    @media (min-width:$desktop){
        max-width: 30%;
    }

  
}


.tarkikComandSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}


.slick-dots li button:before {
    display: flex;
    justify-content: space-around;
    font-family: "slick";
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 1;
    color: $main-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:after {
    opacity: 1;

}

.slick-dots button:before {
    top: 1px;
    transition: all 0.5s;
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    opacity: 1;
}


.slick-dots {
    position: absolute;
    bottom: 5.5rem;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    color: white;

    @media (min-width: $lrgTablet) {
        bottom: 3rem;
    }

    li .slick-active button:before {
        position: relative;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    button {
        display: none;

        &:before {
            top: 1px;
            transition: all .5s;
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            opacity: 1;
        }

        &.slick-active:before {
            top: 0;
            width: 8px;
            height: 8px;
            margin-left: -2px;
        }

    }


}

.slick-next:before {
    display: none;



    
}

.slick-prev:before {
    display: none;
  

}


.slick-prev,
.slick-next {
    padding: 25rem 60px 0px 40px;

}


.slick-arrow {
    top: 50%;
    height: 30px;
    width: 14px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    display: none;
}


.commandSlider__item {
    display: block;
    text-align: center;
    transition: box-shadow 2s;
    cursor: pointer;
    margin: 0 auto;
    padding: 0px 20px 23px 20px;
    box-shadow: inset -141px -129px 200px rgba(0, 0, 0, 0.25);


    &:hover {
        box-shadow: inset 141px 129px 200px rgba(0, 0, 0, 0.25);

    }

    &_status {
        text-align: center;
        margin: 20px auto;
        color: $main-color;
        font-size: $lrg-size;
        margin-bottom: 80px;
    }

}




 button{
    display: block;
    margin: 0 auto;
    background:white;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: $second-color;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
    color: $second-color;
	min-width: 50px;
	width: 100px;

    @media (min-width: $lrgTablet){
        display: none;
    }
}





//INDIVIDUAL WORK PAGE // ------------//

.main-individual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.indiv-container {
    color: $main-color;
    width: 100%;
    margin-top: 5rem;
    padding: 20px;
    text-align: center;
    bottom: 2rem;

    p,
    h3,
    h4 {
        padding: 10px 0px 10px 0px;
    }

    h3,
    h4 {
        text-decoration: underline;
        color: $main-color;
    }

    @media (min-width: $lrgTablet) {
        p {
            margin: 0 auto;
            max-width: 50rem;
        }
    }

}

.indiv-tool-used {
    text-transform: uppercase;
    text-decoration: underline;
}

.indiv-links {
    display: flex;
    justify-content: space-around;

    @media (min-width: $lrgTablet) {
        justify-content: space-evenly;
    }
}

.indiv-img,
.mock-div {
    border: 3px solid white;
    border-radius: 8px;
    margin: 0 auto;
    

    @media (min-width: $lrgTablet) {
        max-width: 30%;
        max-height: 30%;
    }

}

.individual-btn {
    @media (min-width: $lrgTablet){
    display: block;
    margin: 20px auto;
    background:white;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: $second-color;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
    color: $second-color;
	min-width: 50px;
	width: 100px;
    }
}



//CONTACT PAGE // ------------//

.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.contact-container {
    position: fixed;
    bottom: 13rem;
    color: $main-color;
    width: 100%;
    padding: 20px;
    text-align: center;

    p {
        padding: 10px;
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }

    @media (min-width: $lrgTablet) {
        bottom: 14rem;
        margin: 0 auto;
        padding: 25px;
        max-width: 600px;

        p {
            max-width: 600px;
        }
    }

    @media (min-width: $laptop){
        bottom: 16rem;

        p {
            font-size: $mid-size;

        }

    }

    @media (min-width: $desktop) {
        bottom: 17rem;
        
    }

    @media (min-width:$lrgDesktop){
        bottom: 25rem;
    }
}


.cta-contact {
    color:$second-color;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;


}