// Variables 


// colors
$main-color: white;
$second-color: black;

//fonts
$reg-size: 1rem;
$mid-size: 1.2rem;
$lrg-size: 1.5rem;
$extra-big: 3rem;

// media queries
$phone: 400px;
$lrgPhone:500px;
$tablet:800px;
$lrgTablet:990px;
$laptop: 1080px;
$desktop:1400px;
$lrgDesktop: 1600px;
