// Utilities
@use './variables';
@use './mixins';

// Resets
@use './reset';
@use './typography';

// Components
@use './body';
@use './wrapper';
@use './header';
@use './nav';
@use './main';
@use './section';
@use './footer';


//Imports
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Spline+Sans&display=swap');
// @import "react-slideshow-image/dist/styles.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'Bosch';
    src: local('Bosch'), url(../assets/fonts/Bosch.ttf) format('truetype');
}

@font-face {
    font-family: 'Pulchella';
    src: local('Pulchella'), url(../assets/fonts/Pulchella.ttf) format('truetype');
}