//Typography


body {
    font-family: 'Bosch', serif;
}

h1,
h2,
h3,
h4,
nav a {
    font-family: 'Pulchella', sans-serif;
    color: $main-color;
}

a {
    color: $main-color;
}

p {
    font-family: 'PT Serif', serif;
    color: $main-color;
    font-size: $reg-size;
}