//Typography


body {
    font-family: 'FiraSans-Medium',  Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
nav a {
    font-family: 'FiraSans-Medium',  Arial, Helvetica, sans-serif;
    color: $main-color;
}

a {
    color: $main-color;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    color: $main-color;
    font-size: $reg-size;
}