//Type 

@use "./variables"as *;


body {
    font-family: 'PT Serif', serif;
}

h1,
h2,
h3,
h4,
nav a {
    font-family: 'Spline Sans', sans-serif;
    color: white;
}

a {
    color: white;
}

p {
    font-family: 'PT Serif', serif;
    color: white;
}